<!DOCTYPE html>
<html lang="en">
<head>
<title>后台</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
{{ include('IqiyiAvonBundle:Backend:_head.html.twig') }}
<script src="http://libs.baidu.com/jqueryui/1.10.2/jquery-ui.min.js "></script>
</head>
<body>
{{ include('IqiyiAvonBundle:Backend:_navi.html.twig') }}
<div class="container-fluid">
	<h3>图片投票统计</h3>
	<form class="form-inline" role="form" method="GET" action="{{ path('iqiyi_avon_photo_vote_list') }}">
	  <div class="form-group">
	    <label class="sr-only" for="from">投票日期：从</label>
	    <input type="text" name="from" class="form-control" id="from" placeholder="开始时间" value="{{ from }}">
	  </div>
	  <div class="form-group">
	    <label class="sr-only" for="to">至</label>
	    <input type="text" name="to" class="form-control" id="to" placeholder="结束时间" value="{{ to }}">
	  </div>
	  <button type="submit" class="btn btn-default">统计</button>
	</form>
	<table class="table">
		<tr>
			<th>#</th>
			<th>姓名</th>
			<th>手机</th>
			<th>图片</th>
			<th>实际票数</th>
			<th>显示票数</th>
		</tr>
		{% for item in items %}
		<tr>
			<td>{{ item.photoId }}</td>
			<td>{{ item.memName }}</td>
			<td><a href="{{ path('iqiyi_avon_photo_list') }}?mobile={{ item.memMobile }}">{{ item.memMobile }}</td>
			<td><a href="web/{{ asset(item.photoUrl) }}" target="_blank"><img width="80" height="80" class="img-thumbnail" src="web/{{ asset(item.photoUrl) }}"/></a></td>
			<td>{{ item.total }}</td>
			<td>{{ item.totalVote }}</td>
		</tr>
		{% endfor %}
	</table>
	{% if items %}
    <div>
     <ul class="pagination pull-right">
      {% if page.prevpage %}
      <li ><a href="{{ path('iqiyi_avon_photo_list', {'page': page.prevpage}) }}{{ page.clause }}">&laquo;</a></li>
      {% endif %}
      {% for p in page.pagelist %}
      {% if page.currpage == p %}
      <li class="active"><a href="###">{{ p }}<span class="sr-only">(current)</span></a></li>
      {% else %}
      <li><a href="{{ path('iqiyi_avon_photo_list', {'page': p}) }}{{ page.clause }}">{{ p }}</a></li>
      {% endif %}
      {% endfor %}
      {% if page.nextpage %}
      <li ><a href="{{ path('iqiyi_avon_photo_list', {'page': page.nextpage}) }}{{ page.clause }}">&raquo;</a></li>
      {% endif %}
      </ul>
    </div>
  {% endif %}
</div>
 <script>
$(function() {
	$( "#from" ).datepicker({
		dateFormat: "yy-mm-dd",
		defaultDate: "{% if from %}{{ from }}{% else %}+1w{% endif %}",
		changeMonth: true,
		numberOfMonths: 3,
		{% if to %}maxDate: "{{ to }}",{% endif %}
		onClose: function( selectedDate ) {
		$( "#to" ).datepicker( "option", "minDate", selectedDate );
		}
	});
	$( "#to" ).datepicker({
		dateFormat: "yy-mm-dd",
		defaultDate: "{% if to %}{{ to }}{% else %}+1w{% endif %}",
		changeMonth: true,
		numberOfMonths: 3,
		{% if from %}minDate: "{{ from }}",{% endif %}
		onClose: function( selectedDate ) {
		$( "#from" ).datepicker( "option", "maxDate", selectedDate );
		}
	});
});
</script>
</body>
</html>