<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>《雅芳》蝶舞霓彩最美一瞬</title>
{% stylesheets 'bundles/iqiyiavon/css/*' filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
</head>
<body>

<div id="background01">
<div id="pagepage">
    <div class="k" ><img src="{{ asset('bundles/iqiyiavon/images/erjiye_font_02.jpg') }}" width="1002" height="395" /></div>
    <div class="k" ><img src="{{ asset('bundles/iqiyiavon/images/erjiye_photo_pic02.jpg') }}" width="1002" height="77" /></div>
   <div class="erjiye_photo_l">
       <!-- 上传照片 -->
<div  class="sczp">
           <div  class="sczp_l"><span>上传照片</span></div>
       <div class="sczp_mid">地址</div>
           <div class="sczp_r"><a href="#"><img src="{{ asset('bundles/iqiyiavon/images/btn01.jpg') }}" width="98" height="36" /></a></div>
       </div>
       <div class="sczp_font"><span>请选择本地图片上传（图片控制在1M以内）</span></div>
       <!-- 上传照片 -->
     
     
     <!-- 上传区域 -->
    <div class="sczp_con">
    <div class="sczp_con_l"><span>输入文字</span></div>
    <div class="tjxy1">
      <textarea name="key"   id="key" style="color:#999; height:70px; width:400px" onblur="if(!value){value=defaultValue;this.style.color='#999'}" onclick="if(value==defaultValue){value='';this.style.color='#000'}" onmouseover="this.focus();this.select();" 03="03" 04="04" 05="05">关键词</textarea>
    </div>
  </div>
     <!--上传区域 end -->
     
   <a class="btn_01" href="#" style="width:264px; height:45px; float:left; margin-left:127px; margin-top:15px;display:block;"></a>
   
    
   </div>
   <div class="erjiye_photo_r">
       <div class="erjiye_photo_r_lb">轮播</div>
   </div>
   <div class="k" ><img src="{{ asset('bundles/iqiyiavon/images/erjiye_photo_pic01.jpg') }}" width="1002" height="118" /></div>
   
    <!-- 传照片区域 01 --> 
   <div class="photo">
   <div class="photo_pic"><img src="photo/photopico01.jpg" width="226" height="301" /></div>
   
<div class="photo_pic_l"><span>徐女士</span></div>
   <div class="photo_pic_r">
  
   <div class="photo_ico01"> <span>分享</span></div>
   <div class="photo_ico"> <img src="{{ asset('bundles/iqiyiavon/images/erjiye_photo_ico01.gif') }}" width="21" height="21" /></div>
   <div class="photo_ico"> <img src="{{ asset('bundles/iqiyiavon/images/erjiye_photo_ico02.gif') }}" width="21" height="21" /></div>
   <div class="photo_ico"> <img src="{{ asset('bundles/iqiyiavon/images/erjiye_photo_ico03.gif') }}" width="21" height="21" /></div>
   </div>
   
   <div class="photo_con_font"><p>sfsdfsfdsdfsfsdsdsdfsfsdfsdfsfsdsfsdfsfdsdfsfsdsdsdfsfsdfsdfsfsdsfsdfsfdsdfsfsdsdsdfsfsdfsdfsfsdsfsdfsfdsdfsfsdsdsdfsfsdfsdfsfsdsfsdfsfdsdfsfsdsdsdfsfsdfsdfsfsdsfsdfsfdsdfsfsdsdsdfsfsdfsdfsfsd</p></div>
   </div>
  <!-- 传照片区域01 end -->
 <!--翻页 -->
 
<div class="fy" style=" " >
<div class="yellow">
<span class="disabled">&lt; </span><span class="current">1</span><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a>...<a href="#">199</a><a href="#">200</a><a href="#">
&gt; </a></div>
</div>
<!--翻页 -->
 
 
 <div class="kongkong" style=" width:1002px; height:20px; float:left"></div>   
<!-- 标准尾 begin --> 
    


<div class="footer" collection="Y">
  <div class="big_bg"></div>
  <a href="http://app.iqiyi.com/" class="fEn" title="“APP专区”">APP专区</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/aboutus.html" title="公司介绍">公司介绍</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/news.html" title="新闻动态">新闻动态</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/contactus.html" title="联系方式">联系方式</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/employ.html" title="招聘英才">招聘英才</a><span class="fGray">|</span>
  <a href="http://labs.iqiyi.com/" title="奇艺实验室">奇艺实验室</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/helpandsuggest.html?entry=yedi" title="帮助与反馈">帮助与反馈</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/20100420/n4813.html" class="fEn" title="About Us">About Us</a><br>
<span class="fEn"><a href="http://www.iqiyi.com/" title="爱奇艺">爱奇艺</a>&nbsp;&nbsp;© 2014 iQIYI.COM</span>
</div>

<div class="hoverOutwrap" data-widget="qishengtemp" style="display:none">
  <div class="hover-box">
    <div class="totop"><a class="sy-ding" href="javascript:void(0);" style="display:none;"></a></div>
    <div class="tosyn"><a class="sy-tong" href="javascript:void(0);" id="j-qishengbtn"></a></div>
  </div>
</div>
<!-- 标准尾 end -->

</div>
</div>
</body>
</html>
