<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>《雅芳》蝶舞霓彩最美一瞬</title>
{% stylesheets 'bundles/iqiyiavon/css/*' filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
{% javascripts 'bundles/iqiyiavon/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</head>
<body>

<div id="background01">
<div id="pagepage">
     <div class="k" ><img src="{{ asset('bundles/iqiyiavon/images/erjiye_font_02.jpg') }}" width="1002" height="395" /></div>
    <div class="k"  style="_margin-top:-1px;"><img src="{{ asset('bundles/iqiyiavon/images/erjiye_font_04.jpg') }}" width="1002" height="144" border="0" usemap="#Map" />
      <map name="Map" id="Map">
        <area shape="rect" coords="799,102,895,128" href="#" />
      </map>
    </div>
    
    <div id="erjiye_font">
{% if items %}
{% for key,subject in items %}
 <!-- 1 -->
 {% if key == 0 %}
    <div class="jcdwys_con_l" style="margin-left:54px;_margin-left:19px">
    {% elseif key == 1 %}
    <div class="jcdwys_con_r" style="margin-left:88px; margin-top:60px;">
    {% elseif key == 2 %}
    <div class="jcdwys_con_l" style="margin-left:28px;_margin-left:19px">
    {% elseif key == 3 %}
    <div class="jcdwys_con_r" style="margin-left:88px; margin-top:60px;">
    {% elseif key == 4 %}
    <div class="jcdwys_con_l" style="margin-left:28px;_margin-left:19px">
    {% elseif key == 5 %}
    <div class="jcdwys_con_r" style="margin-left:88px; margin-top:60px;">
    {% elseif key == 6 %}
    <div class="jcdwys_con_l" style="margin-left:28px;_margin-left:19px">
    {% elseif key == 7 %}
    <div class="jcdwys_con_r" style="margin-left:88px; margin-top:60px;">
      {% elseif key == 8 %}
    <div class="jcdwys_con_r" style="margin-left:28px;_margin-left:19px">
      {% elseif key == 9 %}
    <div class="jcdwys_con_r" style="margin-left:88px; margin-top:60px;">
      {% elseif key == 10 %}
    <div class="jcdwys_con_r" style="margin-left:28px;_margin-left:19px">
      {% elseif key == 11 %}
    <div class="jcdwys_con_r" style="margin-left:88px; margin-top:60px;">
      {% elseif key == 12 %}
    <div class="jcdwys_con_r" style="margin-left:28px;_margin-left:19px">
    {% endif %}
         <div class=""><p>{{ subject.getMemName() }}</p></div>
         <div class="jcdwys_con_l_font" ><span>{{ subject.getContent() }}</span></div>
      
      <div class="jcdwys_con_l_end">分享
        <a href="{{ url('iqiyi_avon_subjects') }}?shared={{ subject.getSubjectId() }}" class="weibo-share"><img src="{{ asset('bundles/iqiyiavon/images/ico_01.gif') }}" width="26" height="21" /></a>
        <a href="{{ url('iqiyi_avon_subjects') }}?shared={{ subject.getSubjectId() }}" class="renren-share"><img src="{{ asset('bundles/iqiyiavon/images/ico_02.gif') }}" width="26" height="21" /></a>
        <a href="{{ url('iqiyi_avon_subjects') }}?shared={{ subject.getSubjectId() }}" class="tx-share"><img src="{{ asset('bundles/iqiyiavon/images/ico_03.gi') }}f" width="26" height="21" /></a>
        <a href="#like" style="margin-left:20px;" class="words-like-tmall">
          <img src="{{ asset('bundles/iqiyiavon/images/btn_01.gif') }}" width="96" height="25" />
        </a>
        <a href="#like" class="words-like">
          <img src="{{ asset('bundles/iqiyiavon/images/btn_02.gif') }}" width="74" height="25" />
        </a>
        <a >
          <img src="{{ asset('bundles/iqiyiavon/images/ico04.gif') }}" width="19" height="17" />
          <span class="vote-num-{{ subject.getSubjectId() }}">{{ subject.getTotalVote() }}</span>
        </a>
      </div>
      <div style="display:none">
        {{ form_start(subjectForms[key]['form_like'], {'attr': {'class': "vote-form-like"}}) }}
            {{ form_widget(subjectForms[key]['form_like'].subjectId) }}
            {{ form_widget(subjectForms[key]['form_like']._token, {'attr': {'class': 'vote-form-like-token'}}) }}
        {{ form_end(subjectForms[key]['form_like']) }}

        {{ form_start(subjectForms[key]['form_redeem'], {'attr': {'class': "vote-form-redeem"}}) }}
              {{ form_widget(subjectForms[key]['form_redeem'].subjectId) }}
              {{ form_widget(subjectForms[key]['form_redeem'].redeemCode, {'attr': {'style': 'text-align:left;border:1px solid #CCC;height:38px; width:425px'}}) }}
              {{ form_widget(subjectForms[key]['form_redeem']._token, {'attr': {'class': 'vote-form-like-token'}}) }}
          {{ form_end(subjectForms[key]['form_redeem']) }}
      </div>
    </div>
 {% if key==0 %}
 <!-- 搜索按钮盒查看更多按钮-->  
 <div class="erjiye_font_btn01" href="#" >
      <div class="erjiye_font_btn01_l">
      <form id="search" action="{{ path('iqiyi_avon_subjects') }}" method="GET">
      <input name="keyword" type="text" value="{{ keyword }}" style="text-align:left; width:222px; height:26px;" size="10" >
      </form>
      </div>
      <a class="erjiye_font_btn01_r"></a>
 </div> 
 <div class="erjiye_font_btn02" href="#">
  <a href="#"><img src="{{ asset('bundles/iqiyiavon/images/hjmdbtn.gif') }}" width="92" height="28" /></a>
 </div> 
 {% endif %}
{% endfor %}
{% endif %}
  
<!--翻页 -->
<div class="fy" >
<div class="yellow">
  {% if page.prevpage %}
  <a href="{{ path('iqiyi_avon_subjects', {'page': page.prevpage}) }}{{ page.clause }}">&lt;</a>
  {% endif %}
  {% for p in page.pagelist %}
  {% if page.currpage == p %}
  <span class="current">{{ p }}</span>
  {% else %}
  <a href="{{ path('iqiyi_avon_subjects', {'page': p}) }}{{ page.clause }}">{{ p }}</a>
  {% endif %}
  {% endfor %}
  {% if page.nextpage %}
  <a href="{{ path('iqiyi_avon_subjects', {'page': page.nextpage}) }}{{ page.clause }}">&gt;</a>
  {% endif %}
</div>
</div>
<!--翻页 --> 
</div> 
<!-- 标准尾 begin -->
    


<div class="footer" collection="Y">
  <div class="big_bg"></div>
  <a href="http://app.iqiyi.com/" class="fEn" title="“APP专区”">APP专区</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/aboutus.html" title="公司介绍">公司介绍</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/news.html" title="新闻动态">新闻动态</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/contactus.html" title="联系方式">联系方式</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/employ.html" title="招聘英才">招聘英才</a><span class="fGray">|</span>
  <a href="http://labs.iqiyi.com/" title="奇艺实验室">奇艺实验室</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/helpandsuggest.html?entry=yedi" title="帮助与反馈">帮助与反馈</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/20100420/n4813.html" class="fEn" title="About Us">About Us</a><br>
<span class="fEn"><a href="http://www.iqiyi.com/" title="爱奇艺">爱奇艺</a>&nbsp;&nbsp;© 2014 iQIYI.COM</span>
</div>

<div class="hoverOutwrap" data-widget="qishengtemp" style="display:none">
  <div class="hover-box">
    <div class="totop"><a class="sy-ding" href="javascript:void(0);" style="display:none;"></a></div>
    <div class="tosyn"><a class="sy-tong" href="javascript:void(0);" id="j-qishengbtn"></a></div>
  </div>
</div>
<!-- 标准尾 end -->
<!--弹窗 -->
<!-- 参加蝶舞霓彩活动03-->
<div style="display:none;">
<div class="tc_tianmaoma" id="tmallCode">
  <div class="tc_font_close"><a class="btn_close_lightbox" href="#closeMyForm"><img src="{{ asset('bundles/iqiyiavon/images/close.gif') }}" width="25" height="25" /></a></div>
  <div class="tc_tianmaoma_area">
  </div>

<div class="btn02" style="margin-left:150px; _margin-left:150px;margin-top:30px;_margin-top:30px; float:left"><a href="#like" class="tmall-like-btn"><img src="{{ asset('bundles/iqiyiavon/images/btn02.jpg') }}" width="201" height="42" /></a></div>

</div>
</div>
<!-- 参加蝶舞霓彩活动 end-->

{% if sharedObject %}
<div style="display:none;">
<div  class="erjiye_font_tc" id="shared">
<div class="tc_font_close"><a href="#close" class="btn_close_lightbox"><img src="{{ asset('bundles/iqiyiavon/images/close.gif') }}" width="25" height="25" /></a></div>
<div class="erjiye_font_tc_area">Q:你知道，2014，我最重要的瞬间是？</div>
<div  class="erjiye_font_tc_chance">
  {{ form_start(sharedForm['form_question'], {'attr': {'id': 'vote-form-question'}}) }}
    {{ form_row(sharedForm['form_question'].subjectId) }}
    <p>
      <label>
        <input type="radio" name="answer" value="0" />
        A:{{ randAnswer }}
      </label>
      <br />
      <br />
      <label>
        <input type="radio" name="answer" value="1" />
        B:{{ sharedObject.getContent()|truncate(20, true) }}</label>
      <br />
    </p>
    <br />
    <a href="#like" class="words-like-question">
      <img src="{{ asset('bundles/iqiyiavon/images/btn_02.gif') }}" width="74" height="25" />
    </a>
    {{ form_widget(sharedForm['form_question']._token, {'attr': {'class': 'vote-form-like-token'}}) }}
  {{ form_end(sharedForm['form_question']) }}
</div>

<div class="jcdwys_con_l_end" style="margin-left:100px;_margin-left:50px; margin-top:56px;_margin-top:53px;">分享
        <a href="{{ url('iqiyi_avon_subjects') }}?shared={{ sharedObject.getSubjectId() }}" class="weibo-share">
          <img src="{{ asset('bundles/iqiyiavon/images/ico_01.gif') }}" width="26" height="21" />
        </a>
        <a href="{{ url('iqiyi_avon_subjects') }}?shared={{ sharedObject.getSubjectId() }}" class="renren-share">
          <img src="{{ asset('bundles/iqiyiavon/images/ico_02.gif') }}" width="26" height="21" />
        </a>
        <a href="{{ url('iqiyi_avon_subjects') }}?shared={{ sharedObject.getSubjectId() }}" class="tx-share">
          <img src="{{ asset('bundles/iqiyiavon/images/ico_03.gif') }}" width="26" height="21" />
        </a>
        <a href="#like" style="margin-left:20px;" class="words-like-tmall">
          <img src="{{ asset('bundles/iqiyiavon/images/btn_01.gif') }}" width="96" height="25" />
        </a>
        <a href="#like" class="words-like">
          <img src="{{ asset('bundles/iqiyiavon/images/btn_02.gif') }}" width="74" height="25" />
        </a>
        <a >
          <img src="{{ asset('bundles/iqiyiavon/images/ico04.gif') }}" width="19" height="17" />
          <span class="vote-num-{{ sharedObject.getSubjectId() }}">{{ sharedObject.getTotalVote() }}</span>
        </a>
      </div>
      <div style="display:none">
        {{ form_start(sharedForm['form_like'], {'attr': {'class': "vote-form-like"}}) }}
            {{ form_widget(sharedForm['form_like'].subjectId) }}
            {{ form_widget(sharedForm['form_like']._token, {'attr': {'class': 'vote-form-like-token'}}) }}
        {{ form_end(sharedForm['form_like']) }}

        {{ form_start(sharedForm['form_redeem'], {'attr': {'class': "vote-form-redeem"}}) }}
              {{ form_widget(sharedForm['form_redeem'].subjectId) }}
              {{ form_widget(sharedForm['form_redeem'].redeemCode, {'attr': {'style': 'text-align:left;border:1px solid #CCC;height:38px; width:425px'}}) }}
              {{ form_widget(sharedForm['form_redeem']._token, {'attr': {'class': 'vote-form-like-token'}}) }}
          {{ form_end(sharedForm['form_redeem']) }}
      </div>
</div>
</div>
{% endif %}
<!--弹窗 end--> 
</div>
</div>
<script>
$(function(){
  /*submit like*/
  $("a.words-like").each(function(){
    $(this).click(function(){
      var likeForm = $(this).parent().next().find("form.vote-form-like").eq(0);
      $(likeForm).submit();
    });
  });
  $("form.vote-form-like").submit(function(){
    event.preventDefault();
    $.ajax({
         type: "POST",
         url: $(this).attr('action'),
         data: $(this).serialize(),
         success: function(data)
         {
              if(data.success == 1){
                $("span.vote-num-"+data.id).text(data.vote);
                  $("input.vote-form-like-token").val(data.token);
              }else{
                for(var i in data.errorList){
                  alert(data.errorList[i]);
                }
              }
         }
       });
    return false;
  });
  /*question like*/
  $("#vote-form-question").submit(function(event){
    event.preventDefault();
    if(0 == $("#vote-form-question input[name=answer]:checked").val()){
      alert("你选择的答案错误");
    }else{
      $.ajax({
           type: "POST",
           url: $(this).attr('action'),
           data: $(this).serialize(),
           success: function(data)
           {
                if(data.success == 1){
                  $("span.vote-num-"+data.id).text(data.vote);
                  $("input.vote-form-like-token").val(data.token);
                }else{
                  for(var i in data.errorList){
                    alert(data.errorList[i]);
                  }
                }
           }
         });
    }
    return false;
  }); 
  $("a.words-like-question").click(function(){
    $("#vote-form-question").submit();
  });
  /*search*/
  $("a.erjiye_font_btn01_r").click(function(){
    $("#search").submit();
  })
  /*close light box*/
  $(".btn_close_lightbox").click(function(){
    $.colorbox.close();
  });
  /*share*/
  $('a.weibo-share').click(function(){
    event.preventDefault();
    var title = "如果2014年，还有什么重要的时刻你还在期待，你必须不能错过这个视频，它能让你成就最美一瞬！";  
    var url = encodeURIComponent($(this).attr("href")); 
    weibo(title, url);
  });
  $('a.renren-share').click(function(){
    event.preventDefault();
    var title = "如果2014年，还有什么重要的时刻你还在期待，你必须不能错过这个视频，它能让你成就最美一瞬！";  
    var url = encodeURIComponent($(this).attr("href")); 
    renren(title, url);
  });
  $('a.tx-share').click(function(){
    event.preventDefault();
    var title = "如果2014年，还有什么重要的时刻你还在期待，你必须不能错过这个视频，它能让你成就最美一瞬！";  
    var url = encodeURIComponent($(this).attr("href")); 
    tx(title, url);
  });
  /*tmall code*/
  $("form.vote-form-redeem").submit(function(event){
      event.preventDefault();
      return false;
    }); 
  $("a.words-like-tmall").each(function(){
    $(this).click(function(){
      var codeForm = $(this).parent().next().find("form.vote-form-redeem").eq(0).clone();
      //bind submit
      codeForm.submit(function(event){
        event.preventDefault();
        if('' == $.trim($(this).find("input:text").val())){
          alert("请填写天猫码");
        }else{
          $.ajax({
               type: "POST",
               url: $(this).attr('action'),
               data: $(this).serialize(),
               success: function(data)
               {
                    if(data.success == 1){
                      $("span.vote-num-"+data.id).text(data.vote);
                      $("input.vote-form-like-token").val(data.token);
                      $.colorbox.close();
                    }else{
                      for(var i in data.errorList){
                        alert(data.errorList[i]);
                      }
                    }
               }
             });
        }
        return false;
      }); 
      $("div.tc_tianmaoma_area").html(codeForm);
      $.colorbox({inline: true, href: "#tmallCode"});
    });
  });
  $("a.tmall-like-btn").click(function(){
    $("div.tc_tianmaoma_area form.vote-form-redeem").submit();
  });
  /*sharedObject*/
  {% if sharedObject %}
  $.colorbox({inline: true, href: "#shared"});
  {% endif %}
});

function weibo(title, url){
  shareSocial('http://v.t.sina.com.cn/share/share.php?title={title}&url={url}', title, url);
}
function renren(title, url){
  shareSocial('http://widget.renren.com/dialog/share?resourceUrl={url}&title={title}', title, url);
}
function tx(title, url){
  shareSocial('http://share.v.t.qq.com/index.php?c=share&a=index&url={url}&title={title}', title, url);
}
function shareSocial(server_url,title, url)
{  
    server_url = server_url.replace("{title}",title);  
    server_url = server_url.replace("{url}",url);  
    window.open(server_url ,'_blank','scrollbars=no,width=600,height=450,left=75,top=20,status=no,resizable=yes');
}  
</script>

</body>
</html>
