<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>《雅芳》蝶舞霓彩最美一瞬</title>
{% stylesheets 'bundles/iqiyiavon/css/*' filter='cssrewrite' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}</head>
<body>

<div id="background01">
<div id="pagepage">
     <div class="k" ><img src="{{ asset('bundles/iqiyiavon/images/erjiye_font_02.jpg') }}" width="1002" height="395" /></div>
    <div class="k"  style="_margin-top:-1px;"><img src="{{ asset('bundles/iqiyiavon/images/erjiye_font_04.jpg') }}" width="1002" height="144" border="0" usemap="#Map" />
      <map name="Map" id="Map">
        <area shape="rect" coords="799,102,895,128" href="#" />
      </map>
    </div>
    
    <div id="erjiye_font">
{% for key,subject in items %}
 <!-- 1 -->
 {% if key == 0 %}
    <div class="jcdwys_con_l" style="margin-left:54px;_margin-left:19px">
    {% elseif key == 1 %}
    <div class="jcdwys_con_r" style="margin-left:88px; margin-top:60px;">
    {% elseif key == 2 %}
    <div class="jcdwys_con_l" style="margin-left:28px;_margin-left:19px">
    {% elseif key == 3 %}
    <div class="jcdwys_con_r" style="margin-left:88px; margin-top:60px;">
    {% elseif key == 4 %}
    <div class="jcdwys_con_l" style="margin-left:28px;_margin-left:19px">
    {% elseif key == 5 %}
    <div class="jcdwys_con_r" style="margin-left:88px; margin-top:60px;">
    {% elseif key == 6 %}
    <div class="jcdwys_con_l" style="margin-left:28px;_margin-left:19px">
    {% elseif key == 7 %}
    <div class="jcdwys_con_r" style="margin-left:88px; margin-top:60px;">
      {% elseif key == 8 %}
    <div class="jcdwys_con_r" style="margin-left:28px;_margin-left:19px">
      {% elseif key == 9 %}
    <div class="jcdwys_con_r" style="margin-left:88px; margin-top:60px;">
      {% elseif key == 10 %}
    <div class="jcdwys_con_r" style="margin-left:28px;_margin-left:19px">
      {% elseif key == 11 %}
    <div class="jcdwys_con_r" style="margin-left:88px; margin-top:60px;">
      {% elseif key == 12 %}
    <div class="jcdwys_con_r" style="margin-left:28px;_margin-left:19px">
    {% endif %}
         <div class=""><p>许 先生</p></div>
         <div class="jcdwys_con_l_font" ><span>我的蝶舞一瞬是幡然醒悟的瞬间我的蝶舞一瞬是幡然醒悟的瞬间我的蝶舞一瞬是幡然醒悟的瞬间我的蝶舞一瞬是幡然醒悟的瞬间我的蝶舞一瞬是幡然醒悟的瞬间我的蝶舞一瞬是幡然醒悟的瞬间我的蝶舞一瞬是幡然醒悟的 瞬间我的蝶舞一瞬是幡然醒悟的瞬间</span></div>
      
      <div class="jcdwys_con_l_end">分享
        <a href="#"><img src="{{ asset('bundles/iqiyiavon/images/ico_01.gif') }}" width="26" height="21" /></a>
        <a href="#"><img src="{{ asset('bundles/iqiyiavon/images/ico_02.gif') }}" width="26" height="21" /></a>
        <a href="#"><img src="{{ asset('bundles/iqiyiavon/images/ico_03.gi') }}f" width="26" height="21" /></a>
        <a href="#" style="margin-left:20px;"><img src="images/btn_01.gif') }}" width="96" height="25" /></a>
        <a href="#"><img src="{{ asset('bundles/iqiyiavon/images/btn_02.gif') }}" width="74" height="25" /></a>
        <a ><img src="{{ asset('bundles/iqiyiavon/images/ico04.gif') }}" width="19" height="17" /><span>868</span></a>
      </div>
      </div>
      
 <!-- 搜索按钮盒查看更多按钮-->  
 <div class="erjiye_font_btn01" href="#" >
      <div class="erjiye_font_btn01_l">
      <input name="mid" type="text"style="text-align:left; width:222px; height:26px;" size="10" >


      </div>
      <a class="erjiye_font_btn01_r"></a>
 </div> 
 <div class="erjiye_font_btn02" href="#"><a href="#"><img src="{{ asset('bundles/iqiyiavon/images/hjmdbtn.gif') }}" width="92" height="28" /></a></div> 
{% endfor %}
  
<!--翻页 -->
<div class="fy" >
<div class="yellow">
  {% if page.prevpage %}
  <a href="{{ path('iqiyi_avon_subject_list', {'page': page.prevpage}) }}{{ page.clause }}">&lt;</a>
  {% endif %}
  {% for p in page.pagelist %}
  {% if page.currpage == p %}
  <span class="current">{{ p }}</span>
  {% else %}
  <a href="{{ path('iqiyi_avon_subject_list', {'page': p}) }}{{ page.clause }}">{{ p }}</a>
  {% endif %}
  {% endfor %}
  {% if page.nextpage %}
  <a href="{{ path('iqiyi_avon_subject_list', {'page': page.nextpage}) }}{{ page.clause }}">&gt;</a>
  {% endif %}
</div>
</div>
<!--翻页 --> 
</div> 
<!-- 标准尾 begin -->
    


<div class="footer" collection="Y">
  <div class="big_bg"></div>
  <a href="http://app.iqiyi.com/" class="fEn" title="“APP专区”">APP专区</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/aboutus.html" title="公司介绍">公司介绍</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/news.html" title="新闻动态">新闻动态</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/contactus.html" title="联系方式">联系方式</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/employ.html" title="招聘英才">招聘英才</a><span class="fGray">|</span>
  <a href="http://labs.iqiyi.com/" title="奇艺实验室">奇艺实验室</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/helpandsuggest.html?entry=yedi" title="帮助与反馈">帮助与反馈</a> <span class="fGray">|</span>
  <a href="http://www.iqiyi.com/common/20100420/n4813.html" class="fEn" title="About Us">About Us</a><br>
<span class="fEn"><a href="http://www.iqiyi.com/" title="爱奇艺">爱奇艺</a>&nbsp;&nbsp;© 2014 iQIYI.COM</span>
</div>

<div class="hoverOutwrap" data-widget="qishengtemp" style="display:none">
  <div class="hover-box">
    <div class="totop"><a class="sy-ding" href="javascript:void(0);" style="display:none;"></a></div>
    <div class="tosyn"><a class="sy-tong" href="javascript:void(0);" id="j-qishengbtn"></a></div>
  </div>
</div>
<!-- 标准尾 end -->
<!--弹窗 -->
<div  class="erjiye_font_tc">
<div class="tc_font_close"><a href="#"><img src="{{ asset('bundles/iqiyiavon/images/close.gif') }}" width="25" height="25" /></a></div>
<div class="erjiye_font_tc_area">Q:你知道，2014，我最重要的瞬间是？</div>
<div  class="erjiye_font_tc_chance">
  <form id="form1" name="form1" method="post" action="">
    <p>
      <label>
        <input type="radio" name="RadioGroup1" value="選項按鈕" id="RadioGroup1_0" />
        A:幡然醒悟的瞬间
      </label>
      <br />
      <br />
      <label>
        <input type="radio" name="RadioGroup1" value="選項按鈕" id="RadioGroup1_1" />
        B:结婚三周年</label>
      <br />
    </p>
  </form>
</div>

<div class="jcdwys_con_l_end" style="margin-left:100px;_margin-left:50px; margin-top:56px;_margin-top:53px;">分享
        <a href="#"><img src="{{ asset('bundles/iqiyiavon/images/ico_01.gif') }}" width="26" height="21" /></a>
        <a href="#"><img src="{{ asset('bundles/iqiyiavon/images/ico_02.gif') }}" width="26" height="21" /></a>
        <a href="#"><img src="{{ asset('bundles/iqiyiavon/images/ico_03.gif') }}" width="26" height="21" /></a>
        <a href="#" style="margin-left:20px;"><img src="{{ asset('bundles/iqiyiavon/images/btn_01.gif') }}" width="96" height="25" /></a>
        <a href="#"><img src="{{ asset('bundles/iqiyiavon/images/btn_02.gif') }}" width="74" height="25" /></a>
        <a ><img src="{{ asset('bundles/iqiyiavon/images/ico04.gif') }}" width="19" height="17" /><span>868</span></a>
      </div>
</div>
<!--弹窗 end--> 
</div>
</div>


</body>
</html>
